
    #home{
        background-image: url("C:/Users/agr20/OneDrive/Desktop/index/assets/background.jpg");
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: relative;
        justify-content: center;
    }

    .main-container {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .typing {
        overflow: hidden;
        border-right: 5px solid brown;
        white-space: nowrap;
        animation: typewriter 3s forwards;
        font-size: 20px;
        width: 0;
        color:white;
       
    }
    
    span{
        color: turquoise;
    }


    @keyframes typewriter {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }
    @media screen and (min-width:274px) and (max-width:431px) {
            .typing {
                font-size: 10px;
            }
    
        }
    @media screen and (min-width: 431px) and (max-width:620px) {
            .typing {
                font-size: 15px;
            }
    
         }

    @media screen and (min-width: 620px) and (max-width:806px){
           .typing{
            font-size: 20px;
           }
           
    }

    